{%extends "base.html"%}
{% load static tailwind_tags %}

{%block title%}
    <title>About Us</title>
{%endblock%}

{%block content%}
<section class="flex my-6 text-2xl">
    <div class="text-black">
        <h1 class="font-bold text-4xl text-center">About the Club</h1>
        <hr>
        <p class="mx-auto mt-6 w-3/4">
            We are a university club focused on helping members grow their coding skills, 
            learn industry tools, and prepare for careers in their chosen specialization, whether 
            that's Software Engineering, Game Development, Network Engineering, or DevOps.  
        </p>
        <h2 class="font-bold text-3xl text-center">Our Mission</h2>
        <hr>
        <p class="mx-auto mt-3 w-3/4">
            To support every member on their journey by providing resources, 
            training materials, hands-on projects, coding challenges, and a strong peer support network.
        </p>
    </div>
</section>

<section class="my-6 mt-10">
  <h1 class="font-bold text-4xl text-black text-center">Meet the Board</h1>
  <hr />

  <section class="flex flex-row text-black overflow-x-auto text-lg px-4 py-6">
    <div class="flex flex-col border-2 w-1/3 mr-15 rounded-2xl text-center p-2 shrink-0">
      <h2 class="font-bold text-2xl">Club President</h2>
      <h2 class="font-medium text-2xl">Jose Miguel de Lima</h2>
      <hr />
      <img class="my-3 w-full h-75 object-contain" src="{% static 'core/images/jose_avatar.png' %}" alt="Jose Avatar" />
      <ul class="space-y-0.5 px-4">
        <li>QA Engineer for 20 years</li>
        <li>Major: Computer Science</li>
        <li>Minor: Mathematics</li>
        <li class="text-left">
          <strong>Goals:</strong>
          <ul class="list-disc list-inside ml-5 space-y-1">
            <li>Design and program autonomous robotic systems</li>
            <li>Develop embedded software using C++ and microcontrollers</li>
            <li>Build and deploy AI/ML models for simulation and automation</li>
            <li>Create interactive simulators and games that blend robotics, AI, and physics</li>
            <li>Contribute to open-source tools or educational platforms for engineers</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="flex flex-col border-2 w-1/3 mr-15 rounded-2xl text-center p-2 shrink-0">
      <h2 class="font-bold text-2xl">Club VP</h2>
      <h2 class="font-medium text-2xl">Tony Davis</h2>
      <hr />
      <img class="my-3 w-full h-75 object-contain" src="{% static 'core/images/tony_davis.jpg' %}" alt="Kailey Avatar" />
      <ul class="space-y-0.5 text-center px-4">
        <li>Fraud Analyst Turned Developer</li>
        <li>Major: Computer Science</li>
        <li>Concentration: Software Engineering</li>
        <li class="text-left">
          <strong>Goals:</strong>
          <ul class="list-disc list-inside ml-5 space-y-1">
            <li>Strengthen leardership and organizational efficiency within the club, improving communication, structur, and resource sharing</li>
            <li>Create and lead a recurring "Introduction to Coding United" session each term, helping new members understand tools, collaboration practices, and project pathways</li>
            <li>Build a strong portfolio of creative and technical projects to support long-term goals in software engineering and emerging tech</li>
            <li>Grow skills in software engineering and web development, focusing on full-stack projects using React, Flask, APIs, and Cloud Services</li>
            <li>Explore robotics simulations as an extension of problem-solving and system design, including embedded engineering</li>
            <li>Build Python-based automation and AI/ML tools, drawing from fraud-analysis experience and real industry workflows</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="flex flex-col border-2 w-1/3 mr-15 rounded-2xl text-center p-2 shrink-0">
      <h2 class="font-bold text-2xl">Club Secretary</h2>
      <h2 class="font-medium text-2xl">Mikayla Gonzalez</h2>
      <hr />
      <img class="my-3 w-full h-75 object-contain" src="{% static 'core/images/Mikayla.jpg' %}" alt="Kailey Avatar" />
      <ul class="space-y-0.5 text-center px-4">
        <li>Major:</li>
        <li>Concentration:</li>
        <li class="text-left">
          <strong>Goals:</strong>
          <ul class="list-disc list-inside ml-5 space-y-1">
            <li>GOALS 1</li>
            <li>GOALS 2</li>
            <li>GOALS 3</li>
            <li>GOALS 4</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="flex flex-col border-2 w-1/3 mr-15 rounded-2xl text-center p-2 shrink-0">
      <h2 class="font-bold text-2xl">Club Engagement Officer</h2>
      <h2 class="font-medium text-2xl">Dakota Riley</h2>
      <hr />
      <img class="my-3 w-full h-75 object-contain" src="{% static 'core/images/dakota.png' %}" alt="Kailey Avatar" />
      <ul class="space-y-0.5 text-center px-4">
        <li>Major: Computer Science</li>
        <li>Concentration: Software Engineering </li>
        <li class="text-left">
          <strong>About Me:</strong>
          <ul class="list-disc list-inside ml-5 space-y-1">
            <li>Space Nerd that likes to play Star Citizen (Ask me about my ships)</li>
            <li>My favorite Pokemon is Torterra</li>
          </ul>
        </li>
        <li class="text-left">
          <strong>Goals:</strong>
          <ul class="list-disc list-inside ml-5 space-y-1">
            <li>Learn key front-end and back-end technologies to help solve problems with software in my workplace</li>
            <li>Gain an understanding of the technologies that power Artificial Intelligence so I can implement AI into new features that enable more possibilites for our clients</li>
            <li>Learn C++ and C# for game and game engine development as a hobby</li>
            <li>Participate in group projects that allow me to network with others, enhance my skills in different technologies, and bring me out of my comfort zone to elevate my knowledge</li>
      </ul>
    </li>
    </div>
    <div class="flex flex-col border-2 w-1/3 rounded-2xl text-center p-2 shrink-0">
      <h2 class="font-bold text-2xl">Club Event Coordinator</h2>
      <h2 class="font-medium text-2xl">Jacob Garret</h2>
      <hr />
      <img class="my-3 w-full h-75 object-contain" src="{% static 'core/images/' %}" alt="Kailey Avatar" />
      <ul class="space-y-0.5 text-center px-4">
        <li>Major: Computer Science</li>
        <li>Concentration: Software Engineering</li>
        <li class="text-left">
          <strong>Goals:</strong>
          <ul class="list-disc list-inside ml-5 space-y-1">
            <li>To save the world.</li>
            <li>GOALS 2</li>
            <li>GOALS 3</li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
</section>

<section class="my-6 text-black mt-15">
    <h1 class="font-bold text-4xl text-center">Meet our Club Officers</h1>
    <hr>
    <section class="flex flex-row overflow-x-auto text-lg px-4 py-6">
      <div class="flex flex-col border-2 w-1/3 mr-15 rounded-2xl text-center p-2 shrink-0">
        <h2 class="font-medium text-2xl">John Schmidt</h2>
        <hr />
        <img class="my-3 w-full h-75 object-contain" src="{% static 'core/images/John S.jpg' %}" alt="Kailey Avatar" />
        <ul class="space-y-0.5 text-center px-4">
          <li>Major: Computer Science</li>
          <li>Concentration: Software Engineering</li>
          <li>A CSS Developer walks into a bar.</li>
          <li>And a table.</li>
          <li>And a chair.</li>
          <li>And the bartender.</li>
          <li>(Because the layout was broken)</li>
          <li class="text-left">
            <strong>Goals:</strong>
            <ul class="list-disc list-inside ml-5 space-y-1">
              <li>Work on various projects in collaboration with other members to get better experience</li>
              <li>Learn more about website design including working with React and APIs</li>
              <li>Build a homelab setup to learn more skills related to networking and server management</li>
            </ul>
          </li>
        </ul>
      </div>
    <div class="flex flex-col border-2 w-1/3 mr-15 rounded-2xl text-center p-2 shrink-0">
      <h2 class="font-medium text-2xl">Stephen Berkley</h2>
      <hr />
      <img class="my-3 w-full h-75 object-contain" src="{% static 'core/images/Stephen_Berkley.png' %}" alt="Kailey Avatar" />
      <ul class="space-y-0.5 text-center px-4">
        <li>Major: Computer Science</li>
        <li>Concentration: Software Engineering</li>
        <li>Why did the Java developer wear glasses?</li>
        <li>...</li>
        <li>...</li>
        <li>Because they couldn't C#</li>
        <li class="text-left">
          <strong>Goals:</strong>
          <ul class="list-disc list-inside ml-5 space-y-1">
            <li>Sharpen my Jaca and C++ skill to write cleaner, more efficient code.</li>
            <li>Explore game engine physics and backend systems.</li>
            <li>Collaborate on real projects to further expand my skill sets and to learn from others.</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="flex flex-col border-2 w-1/3 rounded-2xl text-center p-2 shrink-0">
        <h2 class="font-medium text-2xl">Devell Robinson</h2>
        <hr />
        <img class="my-3 w-full h-75 object-contain" src="{% static 'core/images/' %}" alt="Kailey Avatar" />
        <ul class="space-y-0.5 text-center px-4">
          <li>Major:</li>
          <li>Concentration:</li>
          <li class="text-left">
            <strong>Goals:</strong>
            <ul class="list-disc list-inside ml-5 space-y-1">
              <li>GOAL 1</li>
              <li>GOAL 2</li>
              <li>GOAL 3</li>
            </ul>
          </li>
        </ul>
      </div>
  </section>
</section>

<section class="my-6 text-black text-lg mt-15">
    <h1 class="font-bold text-4xl text-center">Meet our Club Members</h1>
    <hr>
    <div class="flex space-x-10">
      <div class="flex flex-col border-2 w-1/3 rounded-2xl text-center p-2 mt-4">
        <h2 class="font-medium text-2xl">Erica Boterf</h2>
        <hr />
        <img class="my-3 w-full h-75 object-contain" src="{% static 'core/images/erica_boterf.jpg' %}" alt="Kailey Avatar" />
        <ul class="space-y-0.5 text-center px-4">
            <li>I am a Computer Science student seeking my bachelor's degree. I love working with computers and coding is life!</li>
            <li>Major: Computer Science</li>
            <li class="text-left">
              <strong>Goals:</strong>
              <ul class="list-disc list-inside ml-5 space-y-1">
                <li>Working within a company handling data.</li>
                <li>Owning a homestead and living off the land</li>
              </ul>
            </li>
        </ul>
      </div>
      <div class="flex flex-col border-2 w-1/3 rounded-2xl text-center p-2 mt-4">
        <h2 class="font-medium text-2xl">Bryton Sarrel</h2>
        <hr />
        <img class="my-3 w-full h-75 object-contain" src="{% static 'core/images/bryton_sarrell.png' %}" alt="Kailey Avatar" />
        <ul class="space-y-0.5 text-center px-4">
            <li>About Me: Computer Science Hobbyist and IT Professional - Currently Working as a Software Engineer</li>
            <li>Major: Computer Science</li>
            <li>Concentration: Software Engineering</li>
            <li class="text-left">
              <strong>Goals:</strong>
              <ul class="list-disc list-inside ml-5 space-y-1">
                <li>Build open-source tools and applications for different hobbies and business use cases.</li>
                <li>Design and build open-source projects such as home automation systems and robotics.</li>
                <li>Use skills to contribute to charities and organizations.</li>
                <li>Contribute to the computer science community.</li>
              </ul>
            </li>
        </ul>
      </div>
      <div class="flex flex-col border-2 w-1/3 rounded-2xl text-center p-2 mt-4">
        <h2 class="font-medium text-2xl">Jenn Cigler</h2>
        <hr />
        <img class="my-3 w-full h-75 object-contain" src="{% static 'core/images/jenn cigler.png' %}" alt="Kailey Avatar" />
        <ul class="space-y-0.5 text-center px-4">
          <li>Major: Cybersecurity</li>
          <li>I like plants, Pokemon, and pizza</li>
          <li class="text-left">
            <strong>Goals:</strong>
            <ul class="list-disc list-inside ml-5 space-y-1">
              <li>I didn't know what to put for goals or shared any pictures</li>
              <li>So my club president added this random text your reading</li>
              <li>And generated some wierd AI art</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex space-x-10">
      <div class="flex flex-col border-2 w-1/3 rounded-2xl text-center p-2 shrink-0 mt-4">
        <h2 class="font-medium text-2xl">Caroline aka 'Bailey' Potter</h2>
        <hr />
        <img class="my-3 w-full h-75 object-contain" src="{% static 'core/images/Caroline_potter.png' %}" alt="Caroline Avatar" />
        <ul class="space-y-0.5 text-center px-4">
          <li>Currently working as a Data Analyst in Healthcare and Product Development</li>
          <li>Major: Data Analytics</li>
          <li>Concentration: Project Management</li>
          <li class="text-left">
            <strong>Goals:</strong>
            <ul class="list-disc list-inside ml-5 space-y-1">
              <li>Deepen my knowledge in programing languages, such as SQL, Python, and R through immersive projects and collaboration with peers.</li>
              <li>Effectively manipulate data and build predictive models using NumPy, Pandas, and Scikit-Learn libraries.</li>
              <li>Engage in applied learning by participating in hackathons and community initiatives that translate theoretical knowledge into practical real-world experience.</li>
              <li>Actively share knowledge, support fellow members, and promote and environment for continuous growth.</li>
              <li>Grow the community in Coding United Club by fostering a collaborative environment to improve our coding skills together.</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
</section>
{%endblock%}
