{%extends "base.html"%}
{% load static tailwind_tags %}

{%block title%}
    <title>About Us</title>
{%endblock%}

{%block content%}
<section class="flex my-6 text-2xl">
    <div class="text-black">
        <h1 class="font-bold text-4xl text-center">Meet the Board</h1>
        <hr>
        <p class="mx-auto mt-6 w-3/4">
            We are a university club focused on helping members grow their coding skills, 
            learn industry tools, and prepare for careers in their chosen specialization, whether 
            that's Software Engineering, Game Development, Network Engineering, or DevOps.  
        </p>
        <p class="mx-auto mt-3 w-3/4">
            Our mission is to support every member on their journey by providing resources, 
            training materials, hands-on projects, coding challenges, and a strong peer support network.
        </p>
    </div>
</section>

<section class="my-6 mt-10">
  <h1 class="font-bold text-4xl text-black text-center">Meet the Board</h1>
  <hr />

  <section class="flex flex-row text-black overflow-x-auto text-lg px-4 py-6">
    <div class="flex flex-col border-2 w-1/3 mr-15 rounded-2xl text-center p-2 shrink-0">
      <h2 class="font-bold text-2xl">Club President</h2>
      <h2 class="font-medium text-2xl">Jose Miguel de Lima</h2>
      <hr />
      <img class="my-3 w-full h-75 object-contain" src="{% static 'core/images/jose_avatar.png' %}" alt="Jose Avatar" />
      <ul class="space-y-0.5 px-4">
        <li>QA Engineer for 20 years</li>
        <li>Major: Computer Science</li>
        <li>Minor: Mathematics</li>
        <li class="text-left">
          <strong>Goals:</strong>
          <ul class="list-disc list-inside ml-5 space-y-1">
            <li>Design and program autonomous robotic systems</li>
            <li>Develop embedded software using C++ and microcontrollers</li>
            <li>Build and deploy AI/ML models for simulation and automation</li>
            <li>Create interactive simulators and games that blend robotics, AI, and physics</li>
            <li>Contribute to open-source tools or educational platforms for engineers</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="flex flex-col border-2 w-1/3 mr-15 rounded-2xl text-center p-2 shrink-0">
      <h2 class="font-bold text-2xl">Club VP</h2>
      <h2 class="font-medium text-2xl">Kailey</h2>
      <hr />
      <img class="my-3 w-full h-75 object-contain" src="{% static 'core/images/kailey_northham.png' %}" alt="Kailey Avatar" />
      <ul class="space-y-0.5 text-center px-4">
        <li>Full-time Cali Girl</li>
        <li>Major: Data Analytics</li>
        <li>Mastering invisibility ninjutsu</li>
        <li class="text-left">
          <strong>Goals:</strong>
          <ul class="list-disc list-inside ml-5 space-y-1">
            <li>Convert my internship into a full-time job</li>
            <li>Become a ninja</li>
            <li>Be the first female ninja president</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="flex flex-col border-2 w-1/3 mr-15 rounded-2xl text-center p-2 shrink-0">
      <h2 class="font-bold text-2xl">Club Secretary</h2>
      <h2 class="font-medium text-2xl">Tony Davis</h2>
      <hr />
      <img class="my-3 w-full h-75 object-contain" src="{% static 'core/images/tony_davis.jpg' %}" alt="Kailey Avatar" />
      <ul class="space-y-0.5 text-center px-4">
        <li>Fraud Analyst Turned Developer</li>
        <li>Major: Computer Science</li>
        <li>Concentration: Software Engineering</li>
        <li class="text-left">
          <strong>Goals:</strong>
          <ul class="list-disc list-inside ml-5 space-y-1">
            <li>Build Python-based AI/ML tools for fraud detection and automation</li>
            <li>Develop Unity games as a creative outlet and to learn interactive programming</li>
            <li>Contribute to robotics projects blending software, sensors, and real-world logic</li>
            <li>Grow a portfolio of technical projects to support a career in software engineering</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="flex flex-col border-2 w-1/3 mr-15 rounded-2xl text-center p-2 shrink-0">
      <h2 class="font-bold text-2xl">Club Engagement Officer</h2>
      <h2 class="font-medium text-2xl">Raina Goding</h2>
      <hr />
      <img class="my-3 w-full h-75 object-contain" src="{% static 'core/images/raina_goding.jpg' %}" alt="Kailey Avatar" />
      <ul class="space-y-0.5 text-center px-4">
        <li>Raina🩷</li>
        <li>Major: Computer Science</li>
        <li>Systems tweaker extraordinaire</li>
        <li>Syntax Sharp, Spirit Synced, Logic Laced </li>
        <li class="text-left">
          <strong>More About Me:</strong>
          <ul class="list-disc list-inside ml-5 space-y-1">
            <li>Computer science student with edge in her code and culture in her kernel.</li>
            <li> As a systems tweaker extraordinaire she codes with clarity, and compiles momentum from scratch.</li>
            <li>She hacks engagement with precision, builds community like a stack trace, and strategizes with circuits tuned for change.</li>
            <li>Raina runs her life like a terminal; direct, dynamic, and deeply intentional.</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="flex flex-col border-2 w-1/3 rounded-2xl text-center p-2 shrink-0">
      <h2 class="font-bold text-2xl">Club Event Coordinator</h2>
      <h2 class="font-medium text-2xl">Chris Thelus</h2>
      <hr />
      <img class="my-3 w-full h-75 object-contain" src="{% static 'core/images/christ.jpeg' %}" alt="Kailey Avatar" />
      <ul class="space-y-0.5 text-center px-4">
        <li>I am a nurse completing my bachelor's degree in nursing.</li>
        <li>Major: Nursing</li>
        <li class="text-left">
          <strong>Goals:</strong>
          <ul class="list-disc list-inside ml-5 space-y-1">
            <li>Pursue a master's degree in nursing informatics</li>
            <li>Learn SQL </li>
            <li>Connect with other students </li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
</section>

<section class="my-6 text-black mt-15">
    <h1 class="font-bold text-4xl text-center">Meet our Club Officers</h1>
    <hr>
    <section class="flex flex-row overflow-x-auto text-lg px-4 py-6">
      <div class="flex flex-col border-2 w-1/3 mr-15 rounded-2xl text-center p-2 shrink-0">
        <h2 class="font-bold text-2xl">Social Outreach Officer</h2>
        <h2 class="font-medium text-2xl">Erica Boterf</h2>
        <hr />
        <img class="my-3 w-full h-75 object-contain" src="{% static 'core/images/erica_boterf.jpg' %}" alt="Kailey Avatar" />
        <ul class="space-y-0.5 text-center px-4">
          <li>I am a Computer Science student seeking my bachelor's degree. I love working with computers and coding is life!</li>
          <li>Major: Computer Science</li>
          <li class="text-left">
            <strong>Goals:</strong>
            <ul class="list-disc list-inside ml-5 space-y-1">
              <li>Working within a company handling data.</li>
              <li>Owning a homestead and living off the land</li>
            </ul>
          </li>
        </ul>
      </div>
    <div class="flex flex-col border-2 w-1/3 rounded-2xl text-center p-2 shrink-0">
      <h2 class="font-bold text-2xl">Game Server Project Lead</h2>
      <h2 class="font-medium text-2xl">Bryton Sarrell</h2>
      <hr />
      <img class="my-3 w-full h-75 object-contain" src="{% static 'core/images/bryton_sarrell.png' %}" alt="Kailey Avatar" />
      <ul class="space-y-0.5 text-center px-4">
        <li>About me: Computer Science Hobbyist and IT Professional - Currently Working as a Software Engineer</li>
        <li>Major: Computer Science</li>
        <li>Concentration: Software Engineering</li>
        <li class="text-left">
          <strong>Goals:</strong>
          <ul class="list-disc list-inside ml-5 space-y-1">
            <li>Build open-source tools and applications for different hobbies and business use cases.</li>
            <li>Design and build open-source projects such as home automation systems and robotics.</li>
            <li>Use skills to contribute to charities and organizations.</li>
            <li>Contribute to the computer science community.</li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
</section>

<section class="my-6 text-black text-lg mt-15">
    <h1 class="font-bold text-4xl text-center">Meet our Club Members</h1>
    <hr>
    <div class="flex space-x-10">
      <div class="flex flex-col border-2 w-1/3 rounded-2xl text-center p-2 mt-4">
        <h2 class="font-medium text-2xl">John Schmidt</h2>
        <hr />
        <img class="my-3 w-full h-75 object-contain" src="{% static 'core/images/John S.jpg' %}" alt="Kailey Avatar" />
        <ul class="space-y-0.5 text-center px-4">
            <li>Major: Cybersecurity</li>
            <li>I am working on my associate's degree in Cybersecurity.</li>
            <li>I enjoy building and troubleshooting computers.</li>
            <li class="text-left">
              <strong>Goals:</strong>
              <ul class="list-disc list-inside ml-5 space-y-1">
                <li>Work on projects to gain hands on experience</li>
                <li>Learn more about website design</li>
                <li>Build a Homelab setup to learn more skills</li>
              </ul>
            </li>
        </ul>
      </div>
      <div class="flex flex-col border-2 w-1/3 rounded-2xl text-center p-2 mt-4">
        <h2 class="font-medium text-2xl">Stephen Berkley</h2>
        <hr />
        <img class="my-3 w-full h-75 object-contain" src="{% static 'core/images/Stephen_Berkley.png' %}" alt="Kailey Avatar" />
        <ul class="space-y-0.5 text-center px-4">
            <li>Major: Computer Science</li>
            <li>Concentration: Software Engineering</li>
            <li>Why did the Java developer wear glasses?</li>
            <li>...</li>
            <li>...</li>
            <li>Because they couldn’t C#.</li>
            <li class="text-left">
              <strong>Goals:</strong>
              <ul class="list-disc list-inside ml-5 space-y-1">
                <li>Sharpen my Java and C++ skill to write cleaner, more efficient code.</li>
                <li>Explore game engine physics and backend systems.</li>
                <li>Collaborate on real projects to further expand my skill sets and to learn from others.</li>
              </ul>
            </li>
        </ul>
      </div>
      <div class="flex flex-col border-2 w-1/3 rounded-2xl text-center p-2 mt-4">
        <h2 class="font-medium text-2xl">Jenn Cigler</h2>
        <hr />
        <img class="my-3 w-full h-75 object-contain" src="{% static 'core/images/jenn cigler.png' %}" alt="Kailey Avatar" />
        <ul class="space-y-0.5 text-center px-4">
          <li>Major: Cybersecurity</li>
          <li>I like plants, Pokemon, and pizza</li>
          <li class="text-left">
            <strong>Goals:</strong>
            <ul class="list-disc list-inside ml-5 space-y-1">
              <li>I didn't know what to put for goals or shared any pictures</li>
              <li>So my club president added this random text your reading</li>
              <li>And generated some wierd AI art</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex space-x-10">
      <div class="flex flex-col border-2 w-1/3 rounded-2xl text-center p-2 mt-4">
        <h2 class="font-medium text-2xl">Caroline aka 'Bailey' Potter</h2>
        <hr />
        <img class="my-3 w-full h-75 object-contain" src="{% static 'core/images/Caroline_potter.png' %}" alt="Caroline Avatar" />
        <ul class="space-y-0.5 text-center px-4">
          <li>Currently working as a Data Analyst in Healthcare and Product Development</li>
          <li>Major: Data Analytics</li>
          <li>Concentration: Project Management</li>
          <li class="text-left">
            <strong>Goals:</strong>
            <ul class="list-disc list-inside ml-5 space-y-1">
              <li>Deepen my knowledge in programing languages, such as SQL, Python, and R through immersive projects and collaboration with peers.</li>
              <li>Effectively manipulate data and build predictive models using NumPy, Pandas, and Scikit-Learn libraries.</li>
              <li>Engage in applied learning by participating in hackathons and community initiatives that translate theoretical knowledge into practical real-world experience.</li>
              <li>Actively share knowledge, support fellow members, and promote and environment for continuous growth.</li>
              <li>Grow the community in Coding United Club by fostering a collaborative environment to improve our coding skills together.</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
</section>
{%endblock%}
