{%extends "base.html"%} {% load static %} {%block title%}
<title>Coding United</title>
{%endblock%} {%block content%}
<section class="relative h-[70vh] overflow-hidden">
  <div class="relative w-full h-full group">
    <!-- Background Image -->
    <img
      src="{% static 'core/images/hero.jpg' %}"
      alt="Default"
      class="absolute inset-0 w-full h-full object-cover object-bottom transition-opacity duration-300 group-hover:opacity-0 z-10"
    />

    <!-- Hover Image -->
    <img
      src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExdGR5b3hzZmgzemRxNWF2c2ZqOXQ5anN0NXhndGN0aHVhcXI5dXQybCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/WoD6JZnwap6s8/giphy.gif"
      alt="Hover Img"
      class="absolute inset-0 w-full h-full object-cover object-bottom opacity-0 transition-opacity duration-300 group-hover:opacity-100 z-0"
    />
  </div>
  <!-- Content Container -->
  <div
    class="absolute pt-2 lg:pt-0 lg:top-1/12 lg:left-10 lg:right-auto z-10 bg-blue-800/80 p-2 lg:p-6 lg:rounded-lg max-w-4xl lg:max-w-2xl text-center"
  >
    <h1 class="font-mono text-gray-300 font-bold text-lg md:text-3xl mb-4">
      Welcome to Coding United
    </h1>
    <hr class="border-gray-500 mb-4" />
    <p class="text-purple-300 text-sm sm:text-lg md:text-xl">
      A student-led tech club dedicated to building real-world projects,
      supporting academic success, and growing together through hands-on coding,
      curiosity, and collaboration. We are not here to fit in. We are here to
      build, to learn, and to become.
    </p>
  </div>
</section>
<section class="text-2xl bg-gradient-to-r to-purple-750 from-blue-450">
  <div class="relative text-center">
    <h1 class="text-5xl font-bold">Mission Statement</h1>
    <hr class="h-1 bg-black">
    <p class="mx-auto px-8 py-5 font-medium w-2/3 text-4xl font-serif">Our mission is to foster a vibrant and inclusive community of student developers, empowering everyone with the skills and experience 
      to succeed in the world of technology.</p>

    <div class="flex flex-wrap justify-center p-2">
      <section class="flex flex-row">
        <div class="border-2 w-1/3 bg-purple-100 m-3 shadow-black shadow-xl">
          <h1 class="text-3xl font-bold">Club Projects</h1>
          <hr>
          <p class="py-2 px-10">Group projects are a key part of building a strong coding portfolio. The club maintains 2-3 active projects at all times, 
            allowing members to participate and contribute as their schedule permits. This provides valuable experience working with 
            other people's codebases and collaborating as a team to solve real-world problems, skills every new developer needs.</p>
        </div>

        <div class="border-2 w-1/3 bg-gradient-to-r from-purple-100 to-blue-100 m-3 shadow-black shadow-xl">
          <h1 class="text-3xl font-bold">Open Office Hours</h1>
          <hr>
          <p class="py-2 px-10">Being an online student can feel isolating, you may think you're on your own with no one to turn to for advice. 
            That's why we started our Open Office Hours initiative. Members can drop in to ask questions, get debugging help, 
            or just do silent co-working. Sometimes, just knowing you're not alone on this journey makes all the difference.</p>
        </div>

        <div class="border-2 w-1/3 bg-blue-100 m-3 shadow-black shadow-xl">
          <h1 class="text-3xl font-bold">Coding Challenges</h1>
          <hr>
          <p class="py-2 px-10">We host regular, language-agnostic coding challenges to help members grow their skills. These challenges push you 
            out of your comfort zone and encourage problem-solving from different angles and all with the goal of shaping more well-rounded developers.</p>
        </div>
      </section>

      <section class="flex flex-row">
        <div class="border-2 w-1/3 bg-purple-100 m-3 shadow-black shadow-xl">
          <h1 class="text-3xl font-bold">Coding Education and Guidance</h1>
          <hr>
          <p class="py-2 px-10">We curate as many free educational resources as possible for club members, no matter what path they're on. Whether 
            it's game development, AI, or quantum computing, we aim to make learning accessible. Sometimes the biggest barrier 
            to success is simply not knowing what's available to you.</p>
        </div>

        <div class="border-2 w-1/3 bg-gradient-to-r from-purple-100 to-blue-100 m-3 shadow-black shadow-xl">
          <h1 class="text-3xl font-bold">Book Club</h1>
          <hr>
          <p class="py-2 px-10">No matter your career goals, reading is essential. In tech's ever-changing landscape, staying informed is even more 
            important. Our Book Club holds polls on what topics to explore and meets biweekly to discuss assigned chapters. It 
            helps us stay accountable and grow beyond the standard curriculum.</p>
        </div>

        <div class="border-2 w-1/3 bg-blue-100 m-3 shadow-black shadow-xl">
          <h1 class="text-3xl font-bold">Fostering Leadership</h1>
          <hr>
          <p>We provide opportunities for members to have their voices heard and take on leadership roles. Whether it's leading a 
            club project, assisting with administrative tasks, or running meetings, we encourage members to step up and build their 
            communication and leadership skills.</p>
        </div>
      </section>
    </div>
  </div>
</section>
{%endblock%}
